h1 {  
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
a {

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.txtFooter {
  
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.logoF {
  width: 300px;
  height: 300px;
}
.icons {
  background-color: #ff7ebd;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.iconsStyle {
  margin-top: 4px;
  margin-left: 3px;
}

.footerStyle {
  margin-bottom: 80px ;
}

