.logoF {
  width: 300px;
  height: 300px;
}
.icons {
  background-color: rgb(255, 120, 143);
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.iconsStyle {
  margin-top: 4px;
  margin-left: 3px;
}

