.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
}

span {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.seccion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 10px 0;
}

.icono-burbuja,
.icono-whatsapp,
.icono-ubicacion {
  /* Estilos para los íconos */
  margin-right: 10px;
  background-color: rgb(255, 120, 143);
  height: 40px;
  width: 40px;
  border-radius: 30%;
}

@media (max-width: 640px) {
  span {
    height: 300px;
    margin-bottom: 200px;
  }
  .icono-burbuja,
  .icono-whatsapp,
  .icono-ubicacion {
    height: 90px;
    width: 90px;
    border-radius: 30%;
    font-size: 3rem;
    padding-right: 100px;
  }
  .sm-icon-size {
    font-size: 3rem !important;
  }
}
